AdminID:
BotToken:
PollingInterval: 1
DB: "./db.sqlite3"
VPNHost:
CardNumber:
Message:
  Start: |
    Welcome! Use the menu botton to find your way to the wonderland!
  Apps: |
    android: bit.ly/3rECytR
    ios: apple.co/3rIOCtW
    windows: bit.ly/3bDZ8gI
    unix: install openconnect

    tips:
      - Use batch mode
      - Enable no-dtls (disable UDP)
  Setup: |
    Use the following format to setup a vpn account:
      /setup username password
  Info: |
    host: %s
    username: %s
    password: %s
  Pay: |
    your credit: %0.2f
    you %shave to pay.

    Please send a photo of the transaction receipt whenever you pay.
    card number: %s

